<div class="container" [ngClass]="getAppClass()">
  <div class="item">
    <img src="../../../assets/angular.gif" width="50">
  </div>
  <div *ngIf="auth.userName" class="item auth">
    {{ auth.userName }}
  </div>
  <div class="item">
    <input class="input-line" type="text" #taskNameInput placeholder="Add task">
    <div class="message-from-host"> {{ messageFromHost! }}</div>
    <button (click)="addTaskToCart(taskNameInput.value)">Add task</button>
  </div>
  <div>
    <img src="../../../assets/ev.png" width="100%">
  </div>
</div>

