.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    border: 2px darkred dashed;
    padding: 20px;
    color: black;
    position: relative;
    background-color: lightgray;
  }
  
  .item {
    box-sizing: border-box;
    text-align: left; /* Align text content to the left */
    color: black; 
  }

  .auth {
    margin-left: auto; /* Move to the right */
    padding: 5px 10px; /* Add padding */
    background-color: rgb(182, 32, 37); /* Orange background color */
    color: white;
  }
  
  .filter {
    flex-basis: 100%;
  }

  .message-from-host {
    color: red;
  }
  
  input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid silver;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  button {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff; /* Text color */
    background-color: rgb(182, 32, 37); /* Background color */
    border: 2px solid rgb(182, 32, 37); /* Border color matches background color */
    border-radius: 8px; /* Rounded corners */
    padding: 14px 28px; /* Increased padding for better appearance */
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition effect */
  }
  
  button:hover {
    background-color: rgb(200, 12, 18); /* Darker background color on hover */
    border-color: rgb(200, 12, 18); /* Darker border color on hover */
    color: #ffffff; /* Change text color on hover */
  }
  
  .top-nav {
    margin-bottom: 20px;
  }

  .filtered-app {
    background-color: black;
  }

  .input-line {
    border: none; /* Remove border */
    border-bottom: 1px solid black; /* Add a bottom border */
    background-color: transparent; /* Make background transparent */
    color: red;
    outline: none; /* Remove outline */
    padding: 0; /* Remove padding */
  }
  
  .input-line:focus {
    border-color: rgb(182, 32, 37);
    color: red;
  }
  
  

  