
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black; /* Set navbar background color to black */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; /* Adjust padding as needed */
  z-index: 1000; /* Ensure the navbar stays on top of other content */
  color: white;
}

.navbar li {
  margin-right: 20px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar img {
  width: 50px;
}

.button-container {
  margin-top: 60px; /* Adjust margin top to account for the fixed navbar height */
}

.mfe-container {
  margin-top: 20px;
}

/* Adjust styles as needed */
