<div class="container" [ngClass]="getAppClass()">


  @defer (on interaction(emplacement)) {
  <app-cart [tasks]="tasks" [auth]="auth" />
  }


  <div class="button-container" #emplacement>
    <button (click)="loadEmplacement()">Emplacement</button>
  </div>

  @defer () {
  <div #remoteComponentContainer></div>
  }



  <ul class="navbar">
    <li><img src="../assets/angular.gif" width="50"></li>
    <li class="navbar-links">

    <li><app-filter class="app-filter"></app-filter></li>
    <li>
  </ul>

</div>